.mainDiv {
  width: 100%;
  display: flex;

  justify-content: center;
}
.wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url(.././../assets/imgs/posts_background.png);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    color: white;
  }
}
.headerContainer {
  background-color: #635fc4;
  padding: 0px 15px;
  width: 100%;

  border-radius: 10px;
}
.logoImg {
  width: 80px;
  height: 80px;
  &:hover {
    cursor: pointer;
  }
}

app-burger-menu {
  width: 30px;
  height: 30px;
  left: -170px;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 80%;
  }
  app-burger-menu {
    left: -70px;
  }
}
@media screen and (max-width: 700px) {
  .wrapper {
    width: 80%;
  }
  app-burger-menu {
    left: -40px;
  }
}
