<div class="footerContainer">
  <div class="footerContent">
    <h3>Contacts</h3>
    <div class="contacts">
      <a target="_blank" href="https://crocobet.com/"
        ><span><img class="croc" src="../../assets/imgs/croc.png" /></span
        >crocobet.com</a
      >
    </div>
    <div class="contacts">
      <img class="contactLogos" src="../../assets/imgs/email.png" />
      <a
        target="_blank"
        href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRqgkNhlRCdgSBRJGVNPkbCpgdCtsKvfHtVKTCzpqszDhHhpVKsbzHLBmLnDBXdXhLshMVg"
        >{{ "support@crocobet.com" }}</a
      >
    </div>
    <div class="contacts">
      <img class="contactLogos" src="../../assets/imgs/phonee.png" />
      <a href="tel:+032-259-77-77">(032) 2597777</a>
    </div>
  </div>
  <div class="footerContent">
    <h3>Social Media</h3>
    <div class="contacts">
      <img class="contactLogos" src="../../assets/imgs/fb.png" />
      <a target="_blank" href="https://www.facebook.com/crocobet">Facebook</a>
    </div>
    <div class="contacts">
      <img class="contactLogos" src="../../assets/imgs/insta.png" />
      <a target="_blank" href="https://www.instagram.com/crocobet_com/"
        >Instagram</a
      >
    </div>
    <div class="contacts">
      <img class="contactLogos" src="../../assets/imgs/youtube.png" />
      <a target="_blank" href="https://www.youtube.com/@crocobet-7649"
        >Youtube</a
      >
    </div>
  </div>
</div>
