html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  display: flex;

  justify-content: center;
}
.footerContainer {
  width: 50%;
  border-radius: 10px;
  height: 250px;
  display: flex;
  padding-bottom: 15px;
  flex-direction: row;
  gap: 40px;
  background-color: #635fc4;
  justify-content: center;
  margin-top: 30px;
}
.footerContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}
h3 {
  color: white;
  display: flex;
  font-family: "Poppins";
  font-weight: bold;
  justify-content: center;
}
.mail {
  fill: #dec3cc;
}
a {
  text-decoration: none;
  color: white;
  display: flex;
  margin-left: 10px;
  font-family: "Poppins";

  cursor: pointer;
  align-items: center;
}
.croc {
  width: 60px;
  height: 40px;
}
.contactLogos {
  width: 30px;
  height: 20px;
  margin-left: 25px;
}
.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: left;
  &:hover {
    a:hover {
      color: rgb(41, 254, 137);
      transition-duration: 0.5s;
    }
    scale: 1.1;
    transition-duration: 0.5s;
    img:hover {
      cursor: pointer;
    }
  }
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1024px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}
