<div class="wrapper">
  <div class="footerContainer">
    <div class="footerContent">
      <h3>Contacts</h3>
      <div class="contacts">
        <a target="_blank" href="https://crocobet.com/"
          ><span><img class="croc" src="../../assets/imgs/sa-02.svg" /></span
          >crocobet.com</a
        >
      </div>
      <div class="contacts">
        <img
          class="contactLogos mail"
          src="../../assets/imgs/mailll-09.svg"
          alt="DEC3CC"
        />
        <a
          target="_blank"
          href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRqgkNhlRCdgSBRJGVNPkbCpgdCtsKvfHtVKTCzpqszDhHhpVKsbzHLBmLnDBXdXhLshMVg"
          >{{ "support@crocobet.com" }}</a
        >
      </div>
      <div class="contacts">
        <img class="contactLogos" src="../../assets/imgs/sa7-07.svg" />
        <a href="tel:+032-259-77-77">(032) 2597777</a>
      </div>
    </div>
    <div class="footerContent">
      <h3>Social Media</h3>
      <div class="contacts">
        <img class="contactLogos" src="../../assets/imgs/sa6-06.svg" />
        <a target="_blank" href="https://www.facebook.com/crocobet">Facebook</a>
      </div>
      <div class="contacts">
        <img class="contactLogos" src="../../assets/imgs/sa3-03.svg" />
        <a target="_blank" href="https://www.instagram.com/crocobet_com/"
          >Instagram</a
        >
      </div>
      <div class="contacts">
        <img class="contactLogos" src="../../assets/imgs/sa4-04.svg" />
        <a target="_blank" href="https://www.youtube.com/@crocobet-7649"
          >Youtube</a
        >
      </div>
    </div>
  </div>
</div>
