html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  input {
    border-radius: 6px;
    padding: 10px 15px;
  }
  button {
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 6px;
    background-color: transparent;
    &:hover {
      background-color: aliceblue;
      scale: 1.1;
      transition-duration: 0.3s;
    }
  }
}
table {
  width: 50vw;
  margin-top: 20px;
  height: fit-content;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: white;
}
.usersContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}
td {
  text-align: center;
}
td,
th {
  padding: 13px 20px;
  width: 20%;
}
th {
  text-align: center;
  color: white;
  background-color: rgb(0, 157, 255);
}
tr:nth-child(odd) {
  background-color: #ebebeb;
}

tr {
  font-size: 14px;
  font-family: "Poppins";
}
.userPostsBtn {
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userPostsBtn:hover {
  transition-duration: 0.5s;
  background-color: rgb(0, 157, 255);
  color: white;
  scale: 1.1;
  cursor: pointer;
}
.usersTable {
  width: 50%;
}
.usersTable th {
  width: 20%;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1024px) {
  .usersTable {
    width: 80%;
  }
  th,
  td {
    padding: 10px;
  }
}
@media screen and (max-width: 1700px) {
  th,
  td {
    padding: 8px;
  }
}
@media screen and (max-width: 1400px) {
  th,
  td {
    font-size: 12px;
    padding: 4px;
  }
  .userPostsBtn {
    padding: 8px;
  }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {
  .userPostsBtn {
    padding: 4px;
  }
}
