
<div class="wrapper">
  <div class="postsContainer">
    <table class="postsTable">
      <tr>
        <th>POST'S Author</th>
        <th>TITLE</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{ getUserName(post.userId) }}</td>
        <td>{{ post.title }}</td>
        <td>
          <div class="flex">
            <button class="detailsBtn" (click)="navigateToPost(post)">
              Details
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-posts-modal
  [title]="postTitle"
  [body]="postBody"
  [isOpen]="itIsOpen"
  (close)="closeModal()"
></app-posts-modal>
