<div class="mainPageCont">
  <div class="mainPageWhiteBack">
    <div class="mainPageImgSector">
      <h1>
        Welcome to <br />
        Our Application
      </h1>
      <div class="rectangle"></div>
      <p>
        Your journey to a better experience starts here. Explore our features
        and see how we can help you achieve your goals. Start using our
        application and enjoy the benefits.
      </p>
    </div>
    <img class="mainImg" src="../../../assets/imgs/mainImg.png" />
  </div>
</div>

<div class="mainPageContainer">
  <div class="mainPage">
    <div class="mainPageContent">
      <img class="mainImg" src="../../../assets/imgs/imageee.jpg" />
    </div>
    <div class="mainPageContent">
      <h2>All Your Social Media Channels,<br />One Simple Dashboard</h2>
      <p>
        Your journey to a better experience starts here. Explore our features
        and see how we can help you achieve your goals. Start using our
        application and enjoy the benefits.
      </p>
    </div>
  </div>
</div>
<div class="mainPageContainer">
  <div class="mainPage">
    <div class="mainPageContent">
      <h2>All Your Social Media Channels,<br />One Simple Dashboard</h2>
      <p>
        Your journey to a better experience starts here. Explore our features
        and see how we can help you achieve your goals. Start using our
        application and enjoy the benefits.
      </p>
    </div>
    <div class="mainPageContent">
      <img class="mainImg" src="../../../assets/imgs/Work_7.jpg" />
    </div>
  </div>
</div>
