<div class="mainPageContainer">
  <div class="mainPage">
    <div class="mainPageContent">
      <img class="mainImg" src="../../../assets/imgs/img.jpg" />
    </div>
    <div class="mainPageContent">
      <h2>All Your Social Media Channels,<br />One Simple Dashboard</h2>
      <p>
        Manage All Your Social Medias,Engage New Audience,And Grow Your Brand On
        Social.We Will Help You Go Further,Faster- No Matter Your Team's Size.
        (Just Some Text)
      </p>
    </div>
  </div>
</div>
