.burger-menu {
  display: inline-block;

  button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

  .menu-options {
    background: white;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    z-index: 10;

    button {
      padding: 30px 50px;
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}
.burger {
  width: 30px;
  height: 30px;
}
